pkgbase = wine-ge-lutris-bin
	pkgdesc = GloriousEggroll's custom build of wine, made to use with Lutris.
	pkgver = 8.10
	pkgrel = 1
	epoch = 1
	url = https://github.com/GloriousEggroll/wine-ge-custom
	install = wine.install
	arch = x86_64
	arch = x86_64_v3
	license = LGPL
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = libpcap
	depends = lib32-libpcap
	depends = desktop-file-utils
	optdepends = lutris
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = libgphoto2
	optdepends = ffmpeg
	optdepends = dosbox
	provides = wine-ge-lutris=8.10
	conflicts = wine-ge-lutris
	options = !strip
	source = wine-ge-custom::git+https://github.com/GloriousEggroll/wine-ge-custom.git#tag=GE-Proton7-14
	source = wine-valve::git+https://github.com/ValveSoftware/wine.git#commit=0c90fc52e579066a2c4e7d48350de9f2c1e2f8ae
	source = wine-staging::git+https://github.com/wine-staging/wine-staging.git#commit=2fc92f8ba6e577b8baf69053aabe1c302f352197
	source = wine-more_8x5_res.patch
	source = wine-wmclass.patch
	source = wine-isolate_home.patch
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	validpgpkeys = 5AC1A08B03BD7A313E0A955AF5E6E9EEB9461DD7
	validpgpkeys = DA23579A74D4AD9AF9D3F945CEFAC8EAAF17519D
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 13b0a9b1712eb3bf847a7bc78a46d5d32d6a8358c59b94289594811c2f25de925334aa7f76033176b49156117ada1c58bc1425a3e8514cbf305c27650a2b84e2
	sha512sums = 30437d8ee92c5741fa50a7fe346ccfc48ba809dad0d740903a05a67781d23ea38a5094038a070a253e3fdd8046783b46a5420df6361bdd30cb229d3d88107569
	sha512sums = 3dcdbd523fcbe79b9e9e9b026b9d0a5edf296514c7b48bd465d2dc05a8ca08e23ba8817e2de08edfe52286a2a2f81db42b65f71254cabe496752b9d45131d282
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = bdde7ae015d8a98ba55e84b86dc05aca1d4f8de85be7e4bd6187054bfe4ac83b5a20538945b63fb073caab78022141e9545685e4e3698c97ff173cf30859e285

pkgname = wine-ge-custom
